node_modules
dist
build
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Test / Coverage
coverage
.nyc_output

# Temp
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock
